* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #242424;
}

h1 {
	color: #f5cf53;
}

#countdown {
	
	color: #f5cf53;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

@media (min-width: 768px) {
	#countdown {
		font-size: 80px;
		font-weight: 700;
	}
	
}